.createPostPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.postContainer {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 500px;
  gap: 10px;
  padding: 0px 40px;
  box-shadow: 3px 10px 28px -6px rgba(0, 0, 0, 0.8);
}

.postContainer h1 {
  margin: 0;
}

.postContainer input {
  width: 100%;
  height: 30px;
  outline: none;
  padding: 0px 4px;
}

.postContainer textarea {
  width: 100%;
  height: 120px;
  outline: none;
  padding: 7px;
}
.postButton {
  padding: 10px;
  background-color:rgb(227, 167, 15);
  border: none;
  border-radius: 5px;
  box-shadow: 3px 10px 28px -13px rgba(0, 0, 0, 0.8);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.postButton:hover{
  transform:translateY(1.5px);
  box-shadow: none;
}